<h1>News List</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Content</th>
  </tr>

  <% @all_news.each do |news| %>
    <tr>
      <td><%= news.title %></td>
      <td><%= news.content %></td>
      <td><%= link_to 'Show', news_path(news) %></td>
      <td><%= link_to 'Edit', edit_news_path(news) %></td>
      <td><%= link_to 'Destroy', news_path(news),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
